<div class="container">
    <h1 class="text-center indigo-text">Available Quantites</h1>
    <input type="text" class="form-control" placeholder="search.." ng-model="SearchFilter">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>No</th>
                <th>Fish type</th>
                <th>Fishing Boat</th>
                <th>Batch No</th>
                <th>Available quantity</th>
                <th>Delivery time</th>
            </tr>
            <tr ng-repeat="load in loads|filter:SearchFilter">
                <td>{{$index+1}}</td>
                <td>{{load.fish_type}}</td>
                <td>{{load.fishing_boat}}</td>
                <td>{{load.id}}</td>
                <td>{{load.quantity}} KGs</td>
                <td>{{load.delivery_time}}</td>
            </tr>
        </table>
    </div>
</div>